<div class="row">
    <div class="col-md-1">
        <center><img src="img/case.png"></center>
    </div>

    <div class="col-md-offset-3 col-md-8 text-left">
        <h3>
        High-quality imaging tools are desirable because they enable thorough and systematic research in a variety of fields like molecular biology, ecology and medicine. However, in low-resource communities, and in venues like secondary education, it is difficult to acquire portable, low-cost equipment that can still accurately capture information about samples of interest. Fourier ptychography, an emerging technique in imaging, allows high space-bandwidth-product images to be reconstructed from a series of carefully illuminated low-quality images by computationally stitching them together in the spatial frequency domain. Our group aims to employ Fourier ptychography to universalize access to high-quality imaging without the bulk and the price tag associated with conventional microscopes.
        <br>
        <br>
        This is the compute server associated with the LITScope. Visit the <a href="/submit_job"> job form </a> to utilize the computational framework that makes the LITScope possible.
        </h3>
    </div>
</div>